---

version: '3.4'

x-build: &x-build
  build:
    context: ..

x-jenkins-build: &x-jenkins-build
  build:
    context: ..
    args:
      ENABLE_JENKINS_BUILD: "true"

x-service-config: &x-service-config
  image: "${IMAGE}:${VERSION}"
  restart: always
  volumes: __VOLUMES__

x-zed_environment: &zed_environment
  APPLICATION_ENV: "${APPLICATION_ENV}"
  ZED_SESSION_REDIS_PASSWORD:
  STORAGE_REDIS_PASSWORD:
  ZED_DATABASE_PASSWORD:
  RABBITMQ_PASSWORD:
  DOCUMENT_ROOT: "/app/public/Zed"
  PHPFPM_HOST: "zed-phpfpm"

x-yves_environment: &yves_environment
  APPLICATION_ENV: "${APPLICATION_ENV}"
  YVES_SESSION_REDIS_PASSWORD:
  STORAGE_REDIS_PASSWORD:
  DOCUMENT_ROOT: "/app/public/Yves"
  PHPFPM_HOST: "yves-phpfpm"

x-spryker-nginx: &x-spryker-nginx
  <<: *x-build
  <<: *x-service-config
  command:
    - start
    - nginx

services:
  init:
    <<: *x-build
    <<: *x-service-config
    command:
      - start
      - init
    restart: "no"
    environment: *zed_environment
    volumes: []

  yves-nginx-de:
    <<: *x-spryker-nginx
    ports:
      - "${BASE_PORT:-1}0100:80"
    environment:
      <<: *yves_environment
      DEFAULT_STORE: "DE"
      DEFAULT_ZED_API_HOST: "zed-nginx-de"
  yves-nginx-at:
    <<: *x-spryker-nginx
    ports:
      - "${BASE_PORT:-1}0101:80"
    environment:
      <<: *yves_environment
      DEFAULT_STORE: "AT"
      DEFAULT_ZED_API_HOST: "zed-nginx-at"
  yves-nginx-us:
    <<: *x-spryker-nginx
    ports:
      - "${BASE_PORT:-1}0102:80"
    environment:
      <<: *yves_environment
      DEFAULT_STORE: "US"
      DEFAULT_ZED_API_HOST: "zed-nginx-us"

  yves-phpfpm:
    <<: *x-build
    <<: *x-service-config
    command:
      - start
      - phpfpm
    environment: *yves_environment

  zed-nginx-de:
    <<: *x-spryker-nginx
    ports:
      - "${BASE_PORT:-1}0200:80"
    environment:
      <<: *zed_environment
      DEFAULT_STORE: "DE"
  zed-nginx-at:
    <<: *x-spryker-nginx
    ports:
      - "${BASE_PORT:-1}0201:80"
    environment:
      <<: *zed_environment
      DEFAULT_STORE: "AT"
  zed-nginx-us:
    <<: *x-spryker-nginx
    ports:
      - "${BASE_PORT:-1}0202:80"
    environment:
      <<: *zed_environment
      DEFAULT_STORE: "US"

  zed-phpfpm:
    <<: *x-build
    <<: *x-service-config
    command:
      - start
      - phpfpm
    environment: *zed_environment

  yves-session-redis:
    image: "redis:4.0.11-alpine"
    command: >
      --requirepass $YVES_SESSION_REDIS_PASSWORD
      --appendonly yes
    volumes:
      - yves-session-redis-data:/data

  zed-session-redis:
    image: "redis:4.0.11-alpine"
    command: >
      --requirepass $ZED_SESSION_REDIS_PASSWORD
      --appendonly yes
    volumes:
      - zed-session-redis-data:/data

  storage-redis:
    image: "redis:4.0.11-alpine"
    command: >
      --requirepass $STORAGE_REDIS_PASSWORD
      --appendonly yes
    volumes:
      - storage-redis-data:/data

  elasticsearch:
    image: "elasticsearch:5.6.12-alpine"
    ports:
      - "${BASE_PORT:-1}0500:9200"
    volumes:
      - elasticsearch-data::/usr/share/elasticsearch/data

  database:
    image: "postgres:9.6.10-alpine"
    ports:
      - "${BASE_PORT:-1}0600:5432"
    environment:
      POSTGRES_PASSWORD: "$ZED_DATABASE_PASSWORD"
      POSTGRES_USER: "spryker"
    volumes:
      - database-data:/var/lib/postgresql/data

  jenkins:
    image: "jenkins/jenkins:lts-alpine"
    ports:
      - "${BASE_PORT:-1}0300:8080"
    environment:
      JAVA_OPTS: "-Djava.awt.headless=true -Djenkins.install.runSetupWizard=false"
      JENKINS_OPTS: "-remoting"
    volumes:
      - jenkins-data:/var/jenkins_home

  jenkins-slave:
    <<: *x-jenkins-build
    <<: *x-service-config
    image: "${IMAGE}:${VERSION}-jenkins"
    command:
      - start
      - jenkins-slave
    environment: *zed_environment

  rabbitmq:
    image: "rabbitmq:3.7-alpine"
    environment:
      RABBITMQ_DEFAULT_USER: "spryker"
      RABBITMQ_DEFAULT_PASS: "$RABBITMQ_PASSWORD"
      RABBITMQ_DEFAULT_VHOST: "spryker"


volumes:
  database-data:
    name: database-${ENV}-data
  yves-session-redis-data:
    name: yves-session-redis-${ENV}-data
  zed-session-redis-data:
    name: zed-session-redis-${ENV}-data    
  storage-redis-data:
    name: storage-redis-${ENV}-data      
  jenkins-data:
    name: jenkins-${ENV}-data
  elasticsearch-data:
    name: elasticsearch-${ENV}-data    
